//$color-primary: #1e2229 !default;
$color-primary: #282c3a !default;
//$color-primary: #454243 !default;
$color-secondary: #e0f4ff !default;
$color-accent: #ffa676 !default;

$margin-left-default: 75px;
$margin-top-default: 60px;